<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BARBERIA GOAT</title>
</head>
<body>
    <h1 style="text-align: center;">Barbería GOAT</h1>
    <h2>Busca un barbero</h2>

    <form action="/api/searchbarber" method="post">

        <label for="name">Nombre del barbero: </label><br>
        <input type="text" name="name" id="name" required value="Luis..."><br>

        <input type="submit" value="Buscar">

    </form>
</body>
</html>